body {
    --Primary-Black: #323232;
    --Primary-Red: #E60033;
    --Grey: #758295;
    --Primary-Blue: #0061AF;
    --Primary-White: #FFF;
    --Stroke-Gray: #DBE4F0;
    --Light-blue: #F4F9FD;
    --Hover-Blue: #468CC3;
    --Background-blue: #CDE0EF;

    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    color: var(--Primary-Black, #323232);
}

.container {
    max-width: 1360px;
    margin: auto;
}

.visually-hidden {
    /*
        Class for visually hiding elements while keeping them accessible
        to screen readers and search engines. Useful for SEO and
        assistive technologies.
    */
    position: absolute;
    width: 1px; /* Ensures the element takes minimal space */
    height: 1px; /* Ensures the element takes minimal space */
    padding: 0;
    margin: 0;
    overflow: hidden; /* Hides overflowing content */
    clip: rect(0, 0, 0, 0); /* Hides content visually (legacy method) */
    white-space: nowrap; /* Prevents wrapping for better accessibility */
    border: 0;
}

.header {
    padding: 20px 0;
    margin-bottom: 40px;

    a {
        text-decoration: none;
        color: unset;
    }

    img {
        display: block;
    }

    .header-top {
        height: 44px;
        display: flex;
        align-items: center;
        gap: 32px;
        margin-bottom: 20px;

        .logo {
            height: 44px;
            width: 108px;
        }

        .main-navigation {
            margin-right: auto;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: baseline;
                gap: 32px;

                li a {
                    display: block;
                    position: relative;
                    padding: 8px;
                    white-space: nowrap;
                    text-decoration: none;

                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px; /* 150% */
                    transition: color 250ms ease;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: var(--Primary-Red, #E60033);
                        scale: 0 1;
                        transition: scale 250ms ease;
                    }

                    &:hover {
                        color: var(--Primary-Red, #E60033);

                        &::after {
                            scale: 1 1;
                        }
                    }
                }
            }
        }

        .language-country-switcher {
            display: flex;
            gap: 32px;
            align-items: center;

            .language-switcher {
                display: flex;
                align-items: center;
                gap: 16px;

                a {
                    position: relative;
                    color: var(--Grey, #758295);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px; /* 150% */

                    &:nth-child(1) {
                        color: var(--Primary-Blue, #0061AF);
                    }

                    &:nth-child(2)::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: -8px;
                        transform: translateY(-50%);
                        width: 1px;
                        height: 12px;
                        background-color: #DBE4F0;
                    }
                }
            }

            .country-switcher button {
                outline: none;
                border: none;
                padding: 0;
                background: transparent;
                display: flex;
                align-items: center;
                gap: 8px;

                color: var(--Primary-Blue, #0061AF);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
            }
        }
    }

    .header-bottom {
        height: 48px;
        display: flex;
        align-items: center;
        gap: 16px;

        .catalog-button {
            border-radius: 16px;
            background: var(--Primary-Blue, #0061AF);
            outline: none;
            border: none;
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 4px;

            color: var(--Primary-White, #FFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
        }

        .search-form {
            display: flex;
            height: 48px;
            width: 100%;
            max-width: 600px;
            align-items: center;
            gap: 8px;
            margin-right: auto;

            border-radius: 16px;
            border: 1px solid var(--Stroke-Gray, #DBE4F0);

            .text-search-button {
                color: var(--Grey, #758295);
                outline: none;
                border: none;
                background-color: transparent;
                height: 100%;
                padding: 0;
            }

            .text-input {
                outline: none;
                border: none;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;

                &::placeholder {
                    color: var(--Grey, #758295);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                }
            }

            .image-search-button {
                color: var(--Primary-Blue, #0061AF);
                outline: none;
                border: none;
                background: transparent;
                height: 100%;
                padding: 0 24px 0 0;
            }
        }

        .user-actions {
            display: flex;
            align-items: center;
            gap: 16px;

            .user-menu-button {
                outline: none;
                border: none;
                padding: 0;
                margin: 0;
                background-color: transparent;
            }

            & > a {
                display: block;
            }

            .user-menu-button, & > a {
                color: var(--Primary-Blue, #0061AF);
                position: relative;
                /*height: 48px;*/
                /*width: 48px;*/

                display: flex;
                justify-content: center;
                align-items: center;

                & > .badge {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background: var(--Primary-Red, #E60033);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    overflow: hidden;
                    color: var(--Primary-White, #FFF);
                    text-align: center;
                    text-overflow: ellipsis;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 16px; /* 133.333% */
                }
            }
        }
    }
}

.section-hero {
    margin-bottom: 48px;

    header {
        display: flex;
        align-items: flex-end;
        gap: 32px;
        margin-bottom: 48px;

        h1 {
            flex: auto;
            font-size: 60px;
            font-style: normal;
            font-weight: 600;
            line-height: 84px; /* 140% */
            letter-spacing: -1.2px;
            margin: 0;
        }

        .button {
            text-decoration: none;
            display: block;
            white-space: nowrap;
            border-radius: 16px;
            background: var(--Primary-Blue, #0061AF);
            padding: 12px 24px;
            color: var(--Primary-White, #FFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
        }
    }

    .cards {
        height: 550px;
        display: flex;
        align-items: stretch;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-radius: 16px;
            overflow: hidden;
            flex: 1;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);

            a {
                text-decoration: none;
                color: var(--Primary-White, #FFF);
                display: block;
                height: 100%;

                &:hover figcaption > p {
                    max-height: 100%;
                }

                figure {
                    height: 100%;
                    margin: 0;
                    position: relative;

                    img {
                        object-fit: cover;
                        height: 100%;
                    }

                    figcaption {
                        padding: 32px 108px 32px 32px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;

                        h2 {
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 60px; /* 150% */
                            letter-spacing: -0.8px;
                            margin: 0;
                        }

                        p {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 28px; /* 175% */
                            margin: 0;
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 500ms ease-in-out;
                        }
                    }

                    & > svg {
                        padding: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        bottom: 32px;
                        right: 32px;
                        border-radius: 16px;
                        border: 2px solid var(--Primary-White, #FFF);
                        backdrop-filter: blur(2px);
                    }
                }
            }
        }
    }
}

.section-benefits {
    margin-bottom: 124px;

    .benefits-list {
        list-style: none;
        margin: 0;
        padding: 24px 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background: var(--Primary-White, #FFF);
        box-shadow: 0 0 4px 0 rgba(7, 59, 102, 0.04), 0 0 20px 0 rgba(7, 59, 102, 0.06);

        li {
            display: flex;
            align-items: center;
            gap: 20px;

            svg {
                width: 48px;
                height: 48px;
            }

            color: var(--Primary-Black, #323232);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */

            strong {
                color: var(--Primary-Blue, #0061AF);
                font-size: 28px;
                font-style: normal;
                font-weight: 600;
                line-height: 36px; /* 128.571% */
            }
        }
    }
}

.section-services {
    margin-bottom: 124px;

    h2 {
        border-radius: 8px;
        background: var(--Light-blue, #F4F9FD);
        padding: 4px 8px;
        width: auto;
        margin: 0 0 8px;
        max-width: max-content;

        color: var(--Primary-Blue, #0061AF);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
    }

    & > header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 32px;
        margin-bottom: 48px;

        h3 {
            color: var(--Primary-Black, #323232);
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px; /* 150% */
            letter-spacing: -0.8px;
            max-width: 550px;
            margin: 0;
        }

        p {
            margin: 0;
            max-width: 440px;
        }
    }

    & > figure {
        img {
            height: 484px;
            width: 484px;
            object-fit: cover;
            object-position: center;
            border-radius: 16px;
            overflow: hidden;
        }
    }

    & > ul {
        display: grid;
        grid-template-columns: 484px 1fr;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 32px 48px;

        &::before {
            content: "";
            display: block;
            grid-area: 1 / 1 / 4 / 2;
            border-radius: 16px;
            background: var(--Background-blue, #CDE0EF) url('images/services/main_image.png') center / cover no-repeat;
        }

        li {
            grid-column: 2 / 3;


            a {
                display: grid;
                grid-template-columns: auto 1fr auto;
                gap: 20px;
                border-radius: 16px;
                background: var(--Light-blue, #F4F9FD);
                padding: 24px;
                text-decoration: none;
                color: var(--Primary-Black, #323232);
                border: 1px solid var(--Light-blue, #F4F9FD);
                transition: border 250ms ease, box-shadow 250ms ease;

                article {
                    grid-column: 2 / 3;

                    h4 {
                        margin: 0;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 28px; /* 140% */
                        letter-spacing: -0.4px;
                        transition: color 250ms ease;
                    }

                    p {
                        margin: 0;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px; /* 175% */
                        letter-spacing: -0.16px;
                    }
                }

                & > svg:nth-child(1) {
                    background: var(--Background-blue, #CDE0EF);
                    padding: 12px;
                    border-radius: 16px;
                    color: var(--Primary-Blue, #0061AF)
                }

                & > svg:nth-child(3) {
                    align-self: center;
                    color: var(--Hover-Blue, #468CC3);
                    transition: color 250ms ease;
                }

                &:hover {
                    border: 1px solid var(--Hover-Blue, #468CC3);
                    box-shadow: 0 0 4px 0 rgba(7, 59, 102, 0.04), 0 0 20px 0 rgba(7, 59, 102, 0.06);

                    h4 {
                        color: var(--Primary-Blue, #0061AF);
                    }

                    & > svg:nth-child(3) {
                        color: var(--Primary-Blue, #0061AF);
                    }
                }
            }
        }
    }

}

.section-promotion {
    border-radius: 16px;
    overflow: hidden;
    background: var(--Background-blue, #CDE0EF);
    display: grid;
    grid-template-columns: 1fr 1fr;

    article {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 86px 60px;
        align-items: flex-start;

        header {
            h2 {
                color: var(--Primary-Blue, #0061AF);
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; /* 142.857% */
                margin: 0 0 8px;
            }

            h3 {
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: 60px; /* 150% */
                letter-spacing: -0.8px;
                margin: 0;
            }
        }

        a {
            text-decoration: none;
            display: flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 16px;
            background: var(--Primary-Blue, #0061AF);

            color: var(--Primary-White, #FFF);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
        }
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url('images/promotion/promotion.jpg') center / cover no-repeat;
    }
}